.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; /* Ensure relative positioning for overlapping images */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  transition: opacity 0.3s ease;
}

.App-logo:hover {
  opacity: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}

/* AddSubredditForm styles */
form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4ca9e4;
}

/* SubredditList styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
  .App-header {
    padding: 20px;
  }
  .App-logo {
    height: 20vmin;
  }
  input, button {
    font-size: 14px;
  }
}

/* Custom Fonts */
body {
  font-family: 'Mulish', sans-serif; 
}

/* dotted line after each overlapping post, and no dotted line on smaller screens */
li {
  margin-bottom: 10px;
  position: relative; /* Ensure relative positioning for pseudo-element */
}

li::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust this value as needed */
  left: 0;
  width: 100%; /* Make the line extend the full width of the container */
  border-bottom: 1px dotted #ccc; /* Dotted line style */
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
  /* Styles for smaller screens */
  li::after {
    display: none; /* Hide the dotted line on smaller screens */
  }
}